body{
    background-color: #525252;
}
.set-position{
margin: auto;
box-shadow: 0px 0px 2px 2px rgb(207, 197, 197);
margin-top: 200px;
padding: 15px;
background-color: rgb(3, 7, 34)
}
.panel-title{
    color: aliceblue;
    text-align: center;
    padding: 5px;
}
input{
    border-radius: 0px;
}
.register-set{
    color: aliceblue;
    cursor: pointer;
    float: right;
    margin-right: 10px;
}
.set-Login{
    color: aliceblue;
}
.set-validation-text{
    float: right;
    width: 24px;
    margin-top: -29px;
    margin-right: 6px
}